.map
  width 100%
  height 400px
  z-index 4

.info
  padding 6px 8px
  font 14px/16px Arial, Helvetica, sans-serif
  background white
  background rgba(255,255,255,0.8)
  box-shadow 0 0 15px rgba(0,0,0,0.2)
  border-radius 5px
  h4
    font-size 18px
    margin 0 0 5px
    color #777
    padding-bottom 5px

.dem,
.rep,
.demrep,
.fed,
.sou,
.con,
.ost
  font 14px/16px Arial, Helvetica, sans-serif

.dem
  color #0074D9
  padding-bottom 5px

.rep
  color #FF4136
  padding-bottom 5px

.demrep
  color #2ECC40
  padding-bottom 5px

.fed
  color #FF851B
  padding-bottom 5px

.sou
  color #2ECC40
  padding-bottom 5px

.con
  color #FF851B
  padding-bottom 5px

.ost
  color gray
  padding-bottom 5px